<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/main.js" defer></script>
    <title>MUSIC BANDS</title>
  </head>
  <body>
    <div class="container">
      
      <div class="header">
        <h1>MUSIC BANDS</h1>
      </div>
      
      <div class="grid">
        {{range .Artists}}
            {{template "card" .}}
        {{end}}
      </div>
    
    </div>
  </body>

</html>
